mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite.svg#" + name)

mixin button(text, modClass, link, icon, right)
	a(class="button button--" + modClass href=link)
		if icon 
			if right 
				| #{text}
				span.button__icon.button__icon--right
					i(class="fas " + icon) 
			else 
				span.button__icon.button__icon--left 
					i(class="fas " + icon) 
				| #{text}
		else
			| #{text}	

mixin user_badge (name)
	.user_badge
		p #{name}

mixin checkbox (title)
	.fieldset
		label(class="form__label-checkbox")
			input(class="form__input-checkbox" type="checkbox")
			span(class="form__checkbox")
			= title

mixin avatar(img)
	.avatar
		img(src= img)

mixin avatar_small(img)
	.avatar_small
		img(src= img)

mixin input_email_error(error_message_short)
	.input_email_error.
			#{error_message_short}

mixin empty_comment_error(error_message_long)
	.empty_comment_error.
			#{error_message_long}

mixin email_busy(error_title)
	.email_busy
		.title.
			#{error_title}
		.artical
			p Используйте другой email чтобы создать новый аккаунт
			p Или воспользуйтесь <a href="#">восстановлением пароля,</a> чтобы войти на сайт.

mixin wrong_email(error_title)
	.wrong_email
		.title.
			#{error_title}
		.artical
			p Введите верные данные для входа или воспользуйтесь <a href="#">восстановлением пароля</a>, чтобы войти на сайт.

mixin input(label, name, placeholder)
	label.label-title= label
	input.input(type='text' placeholder= placeholder name= name)

mixin textarea(label, name, placeholder)
	label.label-title= label
	textarea.textarea(name= name placeholder= placeholder)

mixin checkbox(label, name, checked)
	label.label.form__label-checkbox
		if checked
			input(class="form__input-checkbox" name= name type="checkbox" checked)
		else
			input(class="form__input-checkbox" name= name type="checkbox")
		span.form__checkbox 
		= label

mixin radio(label, name, checked)
	label.label.form__label-radio
		if checked
			input(class="form__input-radio" type="radio" name= name checked)
		else
			input(class="form__input-radio" type="radio" name= name)
		span.form__radio
		= label
	
mixin file(label, desc, name)
	label.label-title= label
	p= desc
	input(type="file" name= name id= name class="inputfile" data-multiple-caption="{count} файлов выбрано" multiple)
	label(for= name) Выбрать файл
	span.needed
	
mixin header-link(text, link)
	li.header-nav__item
		a(target!=attributes.target, class="header-nav__link", class!=attributes.class href=link )= text

mixin header-login-link(text, link)
	li.header-login__item
		a(target!=attributes.target, class="header-login__link", class!=attributes.class href=link )= text
