mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite.svg#" + name)

mixin user_badge (name)
	.user_badge
		p #{name}

mixin header-link(text, link)
	li.header-nav__item
		a(target!=attributes.target, class="header-nav__link", class!=attributes.class href=link )= text

mixin header-login-link(text, link)
	li.header-login__item
		a(target!=attributes.target, class="header-login__link", class!=attributes.class href=link )= text

mixin logo(title, slogan)
	.header-logo
		.header-logo__icon
			i(class="fas fa-paper-plane")
		.header-logo__text
			.header-logo__title #{title}
			if slogan
				span.header-logo__subtitle #{slogan}
